<div class="start-page-background" style="text-align:center">
  <div class="content-wrap">
      <div class="logo-wrap">
          <h1>Logo goes here</h1>
      </div>
      <div class="slogan-wrap">
          <p>Your one and only source for sport training videos</p>
      </div>
      <div class="buttons-wrap">
          <a href="/login"><button type="button" class="loginBtn btn btn-danger">Login</button></a>
          <div class="divider"></div>
          <button type="button" class="regBtn btn btn-danger">Register</button>
      </div>
  </div>


</div>
